# Flask
flask
flask-cors

# OpenTelemetry
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests

# AWS X-Ray
aws-xray-sdk

# CloudWatch
watchtower

# Rollbar
blinker
rollbar

# Flask AWS Flask Cognito
Flask-AWSCognito

# Postgres-Py Library
psycopg[binary]
psycopg[pool]
psycopg_pool
psycopg2-binary
